*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.lead{
    /* font-weight: 300; */
}
.display-5{
    font-size: 3.5rem;
    line-height: 20px;
}
.display-4{
    line-height: 30px;
}
.d-block{
    width: 100%;
    height: auto;
}
.btn-primary{
    margin-right: 8px;
}
.btn-outline-secondary{
    margin-left: 8px;
}
.mb-4{
    border-radius: 8px;
    margin-top: 2rem;
}
.feature-icon {
    width: 4rem;
    height: 4rem;
    border-radius: .75rem;
}
footer{
    padding: 70px;
    width: 100%;
}
#carouselExampleIndicators{
    display: flex;
    justify-content: center;
    align-items: center;
}
.child{
    width: 90%;
    height: 90%;
}
